* {
  box-sizing: border-box;
}

body {
  padding: 25px;
}

.gallery {
  display: grid;
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.gallery img {
  height: auto;
  width: 100%;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 10px;
  height: 25px;
  font-size: 18px;
  margin-bottom: 25px;
}

input::placeholder {
  font-size: 16px;
}
