* {
  box-sizing: border-box;
}

body {
  padding: 25px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container img {
  height: auto;
  width: 100%;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 10px;
  height: 25px;
  font-size: 18px;
  margin-bottom: 25px;
}

input:placeholder {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  input {
    max-width: 400px;
  }

  .input-div {
    text-align: center;
  }

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container a {
    width: 47%;
    text-align: center;
  }

}

@media screen and (min-width: 1024px) {
  body {
    margin: auto;
    max-width: 1350px;
  }

  .container a {
    width: 23%;
    text-align: center;
  }
}
